@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
* {margin:0;padding:0;box-sizing:border-box;}
body {
	text-align: left;
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	font-size:16px;
}
nav{
   background: ##ffa200;
   margin: 0em;
   /* padding: 2em 3em 0 3em; */
   text-align: center;
}
.column {
  	padding: 5em 1em;
  	font-size: 1.2em;
  	width: 50%;
  	float: left;
}
#main column {
	float: left;
}
#side column{
  float:right;
}
nav {
	background-color: #ffa200;
	font-family: Arial, sans-serif;
	float: right;
}
nav a{
	color:white;
	text-decoration: none;
	display: inline-block;
	padding: 20px;
	/* margin: 1.8em; */
}
a:hover {
	color: rgba(255,255,255,.75);
}
header img {
	width: 10em;
    float: left;
    margin: .5em .5em 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear:both;
	height: 0;
	font-size: 0;
}
h1 {
	font-size:48px;
	text-align: center;
	color: #FFF;
	font-family: 'Amatic SC', cursive;
	background-position: center;
	background padding-right: .5em;
	background padding-left: .5em;
	background padding-top: 1em;
	background padding-bottom: 1em;
}
h2{
	text-align: center;
  	font-size:2em;
  	font-style: italic;
    padding-top: .8em;
    padding-bottom:.8em;
    border-bottom: 4px #ffa200;
    background: #b50900;
    border-radius: .25em;
}
#mission{
font-color:white;
background:#c1d72e;
}
#residency{
font-color:white;
background:#0082c8; 
}
#results{
font-color:white;
background:#ffa200; 
}
p {
	margin-top:1em;
	font-size:16px;
  	line-height:1.5em;
  	margin:2em;
} 
#splash {
	background:url(http://aelpcs.github.io/appletree_homepage/images/writing_table_homepage.png);
	background-size:cover;
	background-repeat:no-repeat;
	height: 85vh;
	padding: 10em 0 0;
	text-align:center;
}
#splash2{
background:url(http://aelpcs.github.io/appletree_homepage/images/students_on_carpet.png);
	background-size:cover;
	background-repeat:no-repeat;
	height: 85vh;
	padding: 10em 0 0;
	text-align:center;
}
#splash div {
    display: inline-block;
    background: orange;
    padding: 2em;
    border-radius: .25em;
} 
.logo {
	margin:0 0 1em;
} 
.cta{
	background: #b50900;
	border-radius:.25em;     
	color:#fff;     
	display:inline-block;     
	margin-top:1em;     
	padding:1em 2em;     
	text-decoration:none;
}
.wrapper {
	max-width:75em;
	margin:auto;
}
#results {
	max-width:37.5em;
	margin:auto;
}
footer {
	text-align: center;   
	padding: 1em 0; 
	background:#ffa200; 
	clear:both;
	margin-top:2em
}
@media only screen and (max-width: 800px) {
	 nav {
    float: none;
  }
   nav a {
    margin: 0 1.6em .75em 0;
  }
   img {
    width: 320px;
  }
}
@media only screen and (max-width: 480px) {
  h1, nav{
  display:block;
  text-align:center;
  }
   nav a {
    margin: 0 1em 1em;
  }
   img {
    width: 230px;
  }
}